# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Folders
/x64
SurrealEngine/x64
Math/x64
SurrealEngine/Debug

#vs db
*.VC.db
/Dependencies/include
/Dependencies/Lib
/.vs
/Math/x64/Debug
/SurrealEngine/Debug
/Release
/Debug
